:root{
    --first-color: #FFF;
    --second-color: #FC833C;
    --third-color: #5A5D62;
    --input-color: #555;
    --background-color : #212121;
    --border-color: #DADCE0;
    --button-color: #FF523B;
}

.header{
    background: radial-gradient( #222222, --background-color);
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container{
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

.column-2{
    flex-basis: 49%;
    min-width: 300px;
}

.column-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.column-2 h1{
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.column-2 span{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
}

.column-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.column-4{
    flex-basis: 25%;
    padding: 10px;
    max-width: 250px;
    margin-bottom: 50px;
    transition: 0.5s;
    position: relative;
    z-index: 1;
}

.column-4 img{
    width: 100%;
    transition: 0.5s;
}

.column-4 .sub{
    position: absolute;
    text-align: center;
    top: 20%;
    margin: 0 10px;
    opacity: 0;
    transition: 0.5s;
    z-index: 2;
}

.column-4 p{
    font-size: 14px;
}

.column-4:hover{
    transform: translateY(-10px);
}

.column-4:hover img{
    opacity: .3;
}

.column-4:hover .sub{
    opacity: 1;
}

.italic{
    font-style: italic;
}

.breadcrumb{
    color: var(--first-color);
    transition: .4s;
}

.breadcrumb:hover{
    color: var(--second-color);
}

.disabled{
    cursor: default;
    pointer-events: none;
}

.disable{
    cursor: default;
    pointer-events: none;
    color: grey;
}

/* BUTTONS */

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid var(--second-color);
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}

.page-btn span:hover{
    background: var(--second-color);
    color: var(--background-color);
}

.page-btn a{
    text-decoration: none;
    color: var(--first-color);
}

.page-btn a.disabled{
    color: var(--third-color);
}

.btn-primary{
    display: inline-block;
    background: var(--button-color);
    color: var(--first-color);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn-secondary{
    display: inline-block;
    font-size: 14px;
    background: var(--second-color);
    color: var(--first-color);
    padding: 4px 10px;
    margin: 5px 0;
    border-radius: 15px;
    text-align: center;
    transition: background 0.5s;
}

.btn-primary:hover{
    background: #563434;
}

.btn-secondary:hover{
    background: var(--input-color);
}

/* PRODUCT LIST */

.list-title{
    text-align: center;
    margin: 80px auto;
    position: relative;
    line-height: 60px;
    color: var(--input-color);
}

.list-title::after{
    content: '';
    background: var(--second-color);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: var(--input-color);
    font-weight: bold;
}

.rating .fa{
    color: var(--first-color);
}

.rating .checked{
    color: var(--second-color);
}



/* PRODUCT DETAILS */

.single-product{
    margin-top: 80px;
}

.single-product .column-2 img{
    padding: 0;
    width: 100%;
}

.single-product .column-2 h1{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.single-product .column-2 h4{
    margin: 16px 0;
    font-size: 22px;
    font-weight: bold;
    color: var(--first-color);
}

.single-product .column-2 h3{
    color: var(--second-color);
    text-transform: uppercase;
    font-style: italic;
}

.single-product .column-2 .description{
    font-size: 16px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.column-2 .badges ul{
    margin: 1rem 0;
    font-size: 0.9 rem;
}

.column-2 .badges ul li{
    margin: 0;
    list-style: none;
    margin: 0.2rem 0;
    font-weight: 500;
    opacity: 0.9;
    font-size: 16px;
}

.column-2 .badges span{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: normal;
    color: var(--input-color);
}

.column-2 .badges .fas{
    color: green;
}
.column-2 .badges .far{
    color: red;
}

/* -------- CART ITEMS ---------*/

.cart-number{
    font-size: 14px;
    font-weight: bold;
}

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    text-align: left;
    padding: 5px;
    font-weight: bold;
    background: var(--input-color);
    color: var(--second-color);
}

td{
    padding: 5px 5px;
}

td input{
    width: 20px;
    height: 20px;
    padding: 5px;
}

td a{
    color: var(--second-color);
    font-size: 12px;
}

td img{
    width: 100px;
    margin-right: 10px;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;

}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    width: 100%;
    border-top: 3px solid var(--second-color);
    max-width: 500px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}