:root{
    --first-color: #FFF;
    --second-color: #FC833C;
    --third-color: #5A5D62;
    --input-color: #555;
    --background-color : #212121;
    --border-color: #DADCE0;
    --button-color: #FF523B;
}

.header{
    background: radial-gradient( #222222, --background-color);
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container{
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

.column-2{
    flex-basis: 49%;
    min-width: 300px;
}

.column-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.column-2 h1{
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.column-2 span{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
}

.column-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.column-4{
    flex-basis: 25%;
    padding: 10px;
    max-width: 250px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.column-4 img{
    width: 100%;
}

.column-4 p{
    font-size: 14px;
}

.column-4:hover{
    transform: translateY(-10px);
}
.italic{
    font-style: italic;
}

/* BUTTONS */

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid var(--second-color);
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}

.page-btn span:hover{
    background: var(--second-color);
    color: var(--background-color);
}

.btn-primary{
    display: inline-block;
    background: var(--button-color);
    color: var(--first-color);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn-secondary{
    display: inline-block;
    font-size: 14px;
    background: var(--second-color);
    color: var(--first-color);
    padding: 4px 10px;
    margin: 5px 0;
    border-radius: 15px;
    text-align: center;
    transition: background 0.5s;
}

.btn-primary:hover{
    background: #563434;
}

.btn-secondary:hover{
    background: var(--input-color);
}

/* PRODUCT LIST */

.list-title{
    text-align: center;
    margin: 80px auto;
    position: relative;
    line-height: 60px;
    color: var(--input-color);
}

.list-title::after{
    content: '';
    background: var(--second-color);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: var(--input-color);
    font-weight: bold;
}

.rating .fa,
.rating .fas{
    color: var(--second-color);
}


/* PRODUCT DETAILS */

.single-product{
    margin-top: 80px;
}

.single-product .column-2 img{
    padding: 0;
    width: 100%;
}

.single-product .column-2 h1{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.single-product .column-2 h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    color: var(--first-color);
}

.single-product .column-2 h3{
    color: var(--input-color);
    text-transform: uppercase;
    font-style: italic;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* REGISTER PART */

.account-page{
    padding: 50px 0;
    
}

.form-container{
    background-color: #1D1D1D;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: var(--input-color);
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 260px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

.register-form input{
    width: 90%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid var(--input-color);
    border-radius: 8px;
}

.register-form .btn-primary{
    width: 75%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.register-form .btn-primary:focus{
    outline: none;
}

#LoginForm{
    left: -300px;
}

#RegForm{
    left: 0;
}

.register-form a{
    font-size: 14px;
}

#Indicator{
    width: 100px;
    border: none;
    background: var(--second-color);
    height: 3px;
    margin-top: 8px;
    transform: translateX(135px);
    transition: transform 1s;
}