:root{
    --first-color: #FFF;
    --second-color: #FC833C;
    --third-color: #5A5D62;
    --input-color: #555;
    --background-color : #212121;
    --border-color: #DADCE0;
    --button-color: #FF523B;
}

.header{
    background: radial-gradient( #222222, --background-color);
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container{
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

.column-2{
    flex-basis: 50%;
    min-width: 300px;
}

.column-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.column-2 h1{
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.column-2 span{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
}

.column-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.column-4{
    flex-basis: 25%;
    padding: 10px;
    max-width: 250px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.column-4 img{
    width: 100%;
}

.column-4 p{
    font-size: 14px;
}

.column-4:hover{
    transform: translateY(-10px);
}

.btn-primary{
    display: inline-block;
    background: var(--button-color);
    color: var(--first-color);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn-secondary{
    display: inline-block;
    font-size: 14px;
    background: var(--second-color);
    color: var(--first-color);
    padding: 4px 10px;
    margin: 5px 0;
    border-radius: 15px;
    text-align: center;
}

.list-title{
    text-align: center;
    margin: 80px auto;
    position: relative;
    line-height: 60px;
    color: var(--input-color);
}

.list-title::after{
    content: '';
    background: var(--second-color);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: var(--input-color);
    font-weight: bold;
}

.rating .fa,
.rating .fas{
    color: var(--second-color);
}

.brand{
    font-style: italic;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid var(--second-color);
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}

.page-btn span:hover{
    background: var(--second-color);
    color: var(--background-color);
}