/* GENERAL SETTINGS */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #222222;
    color: white;
    position: relative;
    overflow-x: hidden;
}

html, body{
    height: 100%;
}

textarea{
    font-family: inherit;
}

:root{
    --primo-color: #FC833C;
    --input-color: #555;
    --border-color: #DADCE0;
    --body-font: 'Roboto', sans-serif;
    --inter-font: 'Inter', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
}

.all{
    padding-bottom: 35px;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #222222;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #222222;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #34302F;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.btn-basic {
    margin-bottom: 0;
    display: block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}
.btn-basic:focus,
.btn-basic:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn-basic:hover,
.btn-basic:focus {
    color: #333;
    text-decoration: none;
}
.btn-basic:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* FLASH MESSAGES */

.alert{
    background: #ffdb9b;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    opacity: 1;
    pointer-events: auto;
}

.alert2{
    background: #ff92a4;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #FF4356;
    opacity: 1;
    pointer-events: auto;
}



.alert.show,
.alert2.show{
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

.alert.hide,
.alert2.hide{
    animation: hide_slide 1s ease forwards;
  }
  @keyframes hide_slide {
    0%{
      transform: translateX(-10px);
    }
    40%{
      transform: translateX(0%);
    }
    80%{
      transform: translateX(-10%);
    }
    100%{
      transform: translateX(100%);
    }
  }

.alert .fa-check-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}
.alert2 .fa-exclamation-triangle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #f02536;
    font-size: 30px;
}

.alert .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}
.alert2 .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #f02536;
}

.alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}

.alert2 .close-btn2{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #fc7a87;
    padding: 20px 18px;
    cursor: pointer;
}
.close-btn2:hover{
    background: #f35867;
}

.close-btn2 .fa-times{
    color: #f02536;
    font-size: 22px;
    line-height: 40px;
}

.close-btn:hover{
    background: #ffc766;
}

.close-btn .fa-times{
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}

/* NAVBAR PART */



.navigation{
    padding: 10px 100px;
    display: flex;
    align-items: center;
    box-shadow: 4px -15px 20px rgba(0, 0, 0,.7) inset;
}

.logo-link{
    margin-right: auto;
}

.logo-image{
    width: 270px;
    height: auto;
}

.links{
    margin-right: 20px;
}

.nav-links:link,
.nav-links:visited{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    display: inline-block;
    width: 100px;
    text-align: center;
    transition: all .5s;
}

.nav-links.act{
    color: #FC833C;
}

.nav-links:not(:last-child){
    border-right: 1px solid #FC833C;
}

.nav-links:hover{
    background-color: white;
    color: #222222;
    border-radius: 5px;
}

.menu>.menu-content{
    width: 200px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: white;
    line-height: 65px;
}

.menu>.menu-content>a{
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    transition: all .5s;
}

.menu>.menu-content>a:hover{
    background-color: white;
    color: #222222;
    border-radius: 5px;
}

/* NAVBAR DROPDOWN */

.action{
    position: absolute;
    top: 50px;
    right: 50px;
}

.action .profile{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .notif-msg span{
    position: absolute;
    top: -10px;
    right: -10px;
    height: 30px;
    width: 30px;
    background: var(--primo-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #222222;
    font-weight: bold;
}

.action .menu-dropdown{
    position: absolute;
    z-index: 10000;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: white;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1 );
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu-dropdown.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
}

.action .menu-dropdown::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.action .menu-dropdown h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;   
}

.action .menu-dropdown h3 span{
    font-size: 14px;
    color: #555;
    font-weight: 400;
    text-transform: uppercase;
}

.action .menu-dropdown ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.action .menu-dropdown ul li i{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu-dropdown ul li i:hover{
    opacity: 1;
}

.action .menu-dropdown ul li a{
    display: inline-block;
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    transition: 0.3s;
}

.action .menu-dropdown ul li a:hover{
    color: #FC833C;
}

/* MODAL */

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    width: 470px;
    height: 450px;
    background-color: #212121;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.login-content{
    width: 470px;
    height: 450px;
    background-color: #212121;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .3);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.l-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 360px;
    padding: 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99 105, .2);
    top: 0;
}

.form__title{
    color: gray;
    font-weight: 400;
}

.form__div{
    position: relative;
    height: 30px;
    margin-bottom: 2.7rem;
}

.form__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid gray;
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    color: gray;
}

.form__label{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: #212121;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.form__button{
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--primo-color);
    color: white;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form__button:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
    color: gray;
}

.form__input:focus + .form__label{
    top: -.5rem;
    left: .8rem;
    color: var(--primo-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input:focus{
    border: 1.5px solid var(--primo-color);
}

.error {
    color: red;
}

.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover, 
.form__input:-webkit-autofill:focus, 
.form__input:-webkit-autofill:active{
    box-shadow: 0 0 0 40px #212121 inset !important;
    -webkit-text-fill-color: gray !important;
}


.close{
    color: #FC833C;
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1240px){
    .nav-links:link,
    .nav-links:visited,
    .nav-menu{
        font-size: 16px;
        padding: 10px;
    }
    .navigation{
        padding: 10px 50px;
    } 

    .logo-image{
        width: 150px;
    }
}

@media only screen and (max-width: 950px){
    .navigation{
        flex-direction: column;
    }

    .logo-link{
        margin-right: 0;
    }
}

@media only screen and (max-width: 630px){
    .nav-links:link,
    .nav-links:visited,
    .nav-menu{
        display: block;
    }
    .nav-links:not(:last-child){
        border-right: none;
        border-bottom: 1px solid #FC833C;
    }
}



/* HERO SECTION */

.banner{
    background: url('../images/hero2.jpg');
    background-size: 100%;
    background-position-y: center;
    width: 100%;
    height: 600px;
    overflow-y: hidden;
}

.hero{
    width: 80%;
    margin: 0px auto;
}

.banner-content{
    color: white;
    width: 55%;
    padding-top: 170px;
}

.banner-content span{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
}

.banner-content h1{
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.banner-content p{
    margin-bottom: 40px;
    font-size: 18px;
    letter-spacing: 1px;
    font-style: italic;
}

.banner-content a{
    text-decoration: none;
    margin-right: 20px;
}

.banner-content .btn-one{
    padding: 10px 30px;
    background-color: rgba(0, 0, 0,0.3);
    border: 2px solid white;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: white;
    transition: .4s;
}

.banner-content .btn-two{
    padding: 10px 30px;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: black;
    transition: .4s;
}

.banner-content .btn-one:hover{
    background-color: white;
    border: 2px solid white;
    color: black;
}

.banner-content .btn-two:hover{
    background-color: black;
    color: white;
}

@media(max-width: 1200px){
    .banner-content{
        padding-top: 100px;
    }
}

@media(max-width: 970px){
    .banner{
        height: 50vh;
    }
    .banner-content span{
        font-size: 12px;
    }
    .banner-content h1{
        font-size: 30px;
        font-weight: 400;
    }

    .banner-content p{
        font-size: 12px;
    }
}

@media(max-width: 860px){
    .banner-content .btn-one,
    .banner-content .btn-two{
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 400;
    }
}

@media(max-width: 610px){
    .banner{
        height: 40vh;
    }
    .banner-content{
        padding-top: 5px;
    }
    .banner-content h1{
        font-size: 18px;
        font-weight: 300;
    }
    .banner-content .btn-one,
    .banner-content .btn-two{
        display: block;
        margin-bottom: 10px;
    }
    .banner-content span,
    .banner-content p{
        font-size: 8px;
    }

}

/* BANNER PICTO PART */

.picto{
    display: block;
}

.picto ul{
    margin: 0;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
}

.picto ul li{
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid #222222;
}

.picto ul li:last-child {
    border-right: none;
}

.picto ul li a{
    text-decoration: none;
    padding: 5px 50px;
    margin-bottom: 5px;
    display: block;
    color: white;
    cursor: default;
    pointer-events: none;
}

.picto ul li a .icon{
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 auto ;
}

.picto ul li a .icon .fas,
.picto ul li a .icon .far,
.picto ul li a .icon .fab{
    width: 100%;
    height: 100%;
    font-size: 28px;
}

/* CARDS PART */

.card-section #title{
    font-family: 'Roboto', sans-serif;
    color: #5A5D62;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    text-decoration: underline solid #5A5D62;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 1.6px;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 6px 10px 6px rgba(0, 0, 0,.7);
}

.card-section #subtitle{
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-style: italic;
    margin-top: 2rem;
    font-weight: 200;
}

.body-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain{
    position: relative;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px; 
}

.contain .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #222222;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.contain .card:hover{
    height: 420px;
}

.contain .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.contain .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}

.contain .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px 18px;
    text-align: center;
    color: white;
    visibility: hidden;
    opacity: 0;
    font-style: italic;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

.contain .card .content h2{
    font-style: normal;
}

.contain .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.contain .card:hover .content p{
    margin-bottom: 15px;
    font-style: italic;
    font-size: 14px;
}


.contain .card .content a{
    padding: 5px 8px;
    background-color: #5A5D62;
    border: 1px solid #5A5D62;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    transition: .4s;
    font-style: normal;
}

.contain .card .content a:hover{
    color: #FC833C;
    border: 1px solid #FC833C;
}

/* CAROUSEL PART */

.carousel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#trend{
    font-family: 'Roboto', sans-serif;
    color: #5A5D62;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    text-decoration: underline solid #5A5D62;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 1.6px;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 6px 10px 6px rgba(0, 0, 0,.7);
}

#carousel-sub{
    margin: 1rem auto;
    text-align: center;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 200;
    width: 700px;
}

.box{
    width: 350px;
    height: 580px;
    background-color: #222222;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
    border: 1px solid #1d1d1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 20px 10px;
}

.box:hover{
    background-color: #17171D;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}

.box:hover .cig{
    color: #FC833C;
    transition: all ease 0.5s;
}

.model{
    height: 350px;
    max-height: 100%;
    max-width: 90%;
    border-radius: 4px;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.details p{
    font-family: calibri;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.box .btn-cards{
    padding: 5px 8px;
    background-color: #222222;
    border: 1px solid #5A5D62;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    transition: .4s;
    margin-bottom: 15px;
}

.box .btn-cards:hover{
    color: #FC833C;
    border: 1px solid #FC833C;
}

.cig{
    color: #5A5D62;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'roboto';
    font-size: 25px;
    text-shadow: 6px 6px 6px rgba(0, 0, 0,.7);
}

@media(max-width:720px){
    .box{
        width: 94%;
        height: 500px;
    }
    .model{
        height: 250px;
    }
    .details p{
        font-size: 16px;
        width: 250px;
    }
}

/* FOOTER */

footer{
    position: static;
    bottom: 0;
}

@media(max-height:800px){
    footer
    {
        position: static;
    }

}

.footer-distributed{
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    /* margin-top: 100px; */
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5) inset;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left{
    width: 30%;
}

.footer-distributed .footer-left h3{
    color: white;
    font-size: 36px;
    font-family: Montserrat;
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.footer-distributed .footer-left h3 span{
    color: #FC833C;
}

.footer-distributed .footer-links{
    color: white;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}

.footer-distributed .footer-links a:hover,
.footer-distributed .footer-links a:active{
    color: #FC833C;
}

.footer-distributed .footer-comp-name{
    color: #FC833C;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center{
    width: 30%;
}

.footer-distributed .footer-center i{
    background-color: #FC833C;
    color: white;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}

.footer-distributed .footer-center p a{
    color: #FC833C;
    text-decoration: none;
}

.footer-distributed .footer-right{
    width: 30%;
}

.footer-distributed .footer-right .footer-comp-about{
    line-height: 20px;
    color: #FC833C;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-right .footer-comp-about span{
    display: block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-right .footer-icons{
    margin-top: 28px;
}

.footer-distributed .footer-right .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #2C3E50;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 35px;
    margin: 3px;
    margin-bottom: 5px;
    transition: .5s;
}

.footer-distributed .footer-right .footer-icons a:hover{
    background-color: #FC833C;
}

@media(max-width:880px)
{
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i{
        margin-left: 0;
    }
}