/* GENERAL SETTINGS */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #222222;
    color: white;
    height: 100vh;
    position: relative;
}

/* NAVBAR PART */

.navigation{
    padding: 10px 100px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0,.3);
}

.logo-link{
    margin-right: auto;
}

.logo-image{
    width: 180px;
    height: auto;
}

.nav-links:link,
.nav-links:visited{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    display: inline-block;
    width: 100px;
    text-align: center;
    transition: all .5s;
}

.nav-links:not(:last-child){
    border-right: 1px solid #FC833C;
}

.nav-links:hover{
    background-color: white;
    color: #222222;
    border-radius: 5px;
}

.menu>.menu-content{
    width: 200px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: white;
    line-height: 65px;
}

.menu>.menu-content>a{
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    transition: all .5s;
}

.menu>.menu-content>a:hover{
    background-color: white;
    color: #222222;
    border-radius: 5px;
}

/* MODAL */

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    width: 420px;
    height: 260px;
    background-color: white;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.button{
    padding: 4px 5px;
    background-color: #2C3E50;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: all .2s;
    font-size: 16px;
    border: 2px solid #2C3E50;
    text-transform: uppercase;
}

.button:hover{
    background-color: white;
    color: #2C3E50;
    border: 2px solid #2C3E50;
}

input{
    width: 50%;
    height: 30px;
    display: block;
    margin: 15px auto;
}

.close{
    color: black;
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1240px){
    .nav-links:link,
    .nav-links:visited,
    .nav-menu{
        font-size: 16px;
        padding: 10px;
    }
    .navigation{
        padding: 10px 50px;
    } 

    .logo-image{
        width: 150px;
    }
}

@media only screen and (max-width: 950px){
    .navigation{
        flex-direction: column;
    }

    .logo-link{
        margin-right: 0;
    }
}

@media only screen and (max-width: 630px){
    .nav-links:link,
    .nav-links:visited,
    .nav-menu{
        display: block;
    }
    .nav-links:not(:last-child){
        border-right: none;
        border-bottom: 1px solid #FC833C;
    }
}

/* MAIN */

main{
    height: 800px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* FOOTER */

footer{
    position: fixed;
    bottom: 0;
}

@media(max-height:800px){
    footer
    {
        position: static;
    }

    header
    {
        padding-top: 40px;
    }
}

.footer-distributed{
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left{
    width: 30%;
}

.footer-distributed .footer-left h3{
    color: white;
    font: normal 36px 'cookie',cursive;
    margin: 0;
}

.footer-distributed .footer-left h3 span{
    color: #FC833C;
}

.footer-distributed .footer-links{
    color: white;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}

.footer-distributed .footer-links a:hover,
.footer-distributed .footer-links a:active{
    color: #FC833C;
}

.footer-distributed .footer-comp-name{
    color: #FC833C;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center{
    width: 30%;
}

.footer-distributed .footer-center i{
    background-color: #FC833C;
    color: white;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}

.footer-distributed .footer-center p a{
    color: #FC833C;
    text-decoration: none;
}

.footer-distributed .footer-right{
    width: 30%;
}

.footer-distributed .footer-right .footer-comp-about{
    line-height: 20px;
    color: #FC833C;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-right .footer-comp-about span{
    display: block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-right .footer-icons{
    margin-top: 28px;
}

.footer-distributed .footer-right .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #FC833C;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 35px;
    margin: 3px;
    margin-bottom: 5px;
}